extends layout

block content
	.contenedor
		h2 Por favor completa el siguiente formulario
		form#agregarForm(action='/user' method='POST')
			input.casilla(type='text' name='nombre' placeholder='Nombre (Obligatorio)' maxlength='30')
			input.casilla(type='text' name='apellido' placeholder='Apellido (Obligatorio)' maxlength='30')
			input.casilla(type='number' name='telefono' placeholder='Teléfono (Opcional)')
			input.casilla(type='email' name='email' placeholder='Email (Obligatorio)')
			input.boton(type='submit')