doctype html
html
	head
		title PING-PONG
		link(rel="icon" href="/images/icon.png")
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		header
			ul
				li
					a(href="/") INICIO
				li
					a#pingLink(target="_blank" href="/ping") PING

				li
					a(href="/user/form") AGREGAR
				li
					a(href="/user/list") LISTA
			#pingMsg Al hacer click se abrirá una nueva pestaña

	block content

	script(src='/javascripts/jquery.min.js')
	script(src='/javascripts/main.js')