doctype html
html
	head
		title PING-PONG
		link(rel="icon" href="/images/icon.png")
		link(rel='stylesheet' href="/stylesheets/bootstrap.min.css")
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		div(class="row")
			div(class="col-xs-12 col-md-12")
				header
					ul
						li
							a(href="/") INICIO
						li
							a(target="_blank" href="/ping") PING
						li
							a(href="/user/form") AGREGAR
						li
							a(href="/user/list") LISTA
	block content
